<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--文件对应：UserMapper-->
<mapper namespace="com.cyr.mysqllearning.mapper.ParameterMapper">
    <!--int insertUser(User user);-->
    <insert id="insertUser">
        insert into t_user values(null,#{username},#{password},#{age},#{sex},#{email})
    </insert>
    <!--User getUserByUsername(String username);-->
    <select id="getUserByUsername" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user where username = #{username}
    </select>
    <!--User checkLogin(String username,String password);-->
    <select id="checkLogin" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user where username = #{arg0} and password = #{arg1}
    </select>
    <!--User checkLoginByMap(Map<String,Object> map);-->
    <select id="checkLoginByMap" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user where username = #{username} and password = #{password}
    </select>
    <select id="CheckLoginByParam" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user where username=#{username} and password = #{password}
    </select>
</mapper>
