<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--文件对应：SelectMapper-->
<mapper namespace="com.cyr.mysqllearning.mapper.SelectMapper">
    <!--User getUserById(@Param("id") int id);-->
    <select id="getUserById" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user where id = #{id}
    </select>
    <select id="getUserList" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(id) from t_user
    </select>
    <select id="getUserToMap" resultType="java.util.Map">
        select * from t_user where id = #{id}
    </select>
    <select id="getAllUserToMap" resultType="java.util.Map">
        select * from t_user
    </select>
</mapper>
