<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--文件对应：UserMapper-->
<mapper namespace="com.cyr.mysqllearning.mapper.UserMapper">
    <!--方法对应：int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'zhangsan','123456',23,'M','123456@qq.com')
    </insert>
    <!--int updateUser();-->
    <update id="updateUser">
        update t_user set username='libai' where id=5
    </update>
    <delete id="deleteUser">
        delete from t_user where id=5
    </delete>
    <select id="getUserbyId" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user where id=2
    </select>
    <select id="getUserList" resultType="com.cyr.mysqllearning.pojo.User">
        select * from t_user
    </select>
</mapper>
